// COLORS

$color-black: #070201;
$color-white: #f4f4f4;

$color-background: #eae7dc;

$color-text-selection-background: #e98074;
$color-text-selection-color: #d8c3a5;

$color-primary: #e85a4f;
$color-secondary: #8e8d8a;

// FONT

$default-font-size: 1.6rem;
